

@import "tailwindcss";
.head{
  text-align: left;
  text-decoration:white;
  
  
}
.service{
  text-align: left;
  position:fixed;
  display: flex;
  text-decoration: aliceblue;
  gap: 20px;
  justify-content: space-between;
  margin-left: 200px;

}
.book{
  text-align: right;
  
  color: rgb(0, 2, 4);
  text-decoration: rgb(180, 189, 197);


}
.main{
  justify-content: center;
  position: fixed;
  width: 100%;
  
}
img{
  height: 500px;
  width:100%;
  margin-top: 60px;
  border-radius: 10px;
}
.about{
  border: 1p solid black;
  border-radius: 5px;
}
.text{
  position: absolute;
  color: white;
  top: 30%;

  text-align: center;
  

}
.start{
  color: white;
  background-color: black;
  border-radius: 10px;
}
/* .about2{
  border: 1px solid black;
  border-radius: 5px;
} */


 .left{
  text-align: right;
  text-wrap: /* stylelint-disable-next-line rule */;
  color: aqua;
  width: 300px;
  margin-left: auto;
  padding: 3px;
 }
 